# Hotel Pricing Visualization for a Market

This tool is for visualizing the abnormal hotel pricing for revenue maagement team.

### Load Data

In [1]:
import plotly.plotly as py
import pandas as pd 
import plotly.graph_objs as go
import plotly
import plotly.graph_objs as go
from plotly.offline import *
import colorlover as cl
from IPython.display import HTML

In [2]:
df = pd.read_csv("hotel_pricing.csv") 
df.head()

,expedia_hotel_id,price,date,hotel,native_currency,market_id,market
0,3482162,274.85,2019-05-18,HYATT house Shelton,USD,1664,New Haven
1,3482162,223.16,2019-05-19,HYATT house Shelton,USD,1664,New Haven
2,3482162,239.26,2019-05-20,HYATT house Shelton,USD,1664,New Haven
3,3482162,206.48,2019-05-21,HYATT house Shelton,USD,1664,New Haven
4,3482162,206.48,2019-05-22,HYATT house Shelton,USD,1664,New Haven

### Plot a Interactive Graph for Identifying the Outlier Quickly

In [3]:
traces = []

for i in set(df["expedia_hotel_id"]):
    #print (i)
    #print(df[df["expedia_hotel_id"] == i]["price"].head())
    list(df[df["expedia_hotel_id"] == i]["price"])
    
    hotel= df[df["expedia_hotel_id"] == i]["hotel"]
    tt_name = str(i) + " " + list(hotel)[1]
    #print(str(i) + " " + list(hotel)[1])
    
    traces.append(go.Scatter(
        x=list(df[df["expedia_hotel_id"] == i]["date"]),
        y=list(df[df["expedia_hotel_id"] == i]["price"]),
        mode='lines',
        name = tt_name,
        #line=dict(color=colors[i], width=line_size[i]),
        connectgaps=True,
    ))

fig = go.Figure(data=traces)
#plotly.offline.plot(fig, filename='hotel_pricing_simple.html') #offline plotting
#py.iplot(fig, filename='news-source') #online ploting

### Upgraded Graph to Hilight the Hotel Pricing Interested

In [7]:
#set color scale
scl = cl.scales['11'] 
#scl *= 5
#HTML( cl.to_html( scl ) )

In [17]:
btns = [] 

for i in range(len(fig['data'])):
    colors = ['rgba(169,169,169,0.2)']*len(fig['data'])
    colors[i] = 'red'
    btns.append(
        dict(
            args = [{ 'line.color': colors, 'line.width': 2 }],
            label = fig['data'][i]['name'],
            method = 'restyle',
        )
    )

updatemenus=list([
    dict(
        #setting location of the drop down menu
        direction = 'down',
        pad = {'r': 10, 't': 10},
        showactive = True,
        x = 0.0,
        xanchor = 'left',
        y = 1.12,
        yanchor = 'top',  
        
        buttons=btns                     
    ),
    dict(
        #setting location of the reset color button
        direction = 'down',
        pad = {'r': 10, 't': 10},
        showactive = True,
        x = 0.42,
        xanchor = 'left',
        y = 1.12,
        yanchor = 'top',            

        type = 'buttons',
        buttons=[dict(
            args = [{'line.color': scl, 'line.width': 2}],
            label = 'Reset Colors',
            method = 'restyle', 
        )],
        
    )    
    ])

market = df["market"]
title = 'Hotel Pricing for'+ ' ' + list(market)[1]
layout = go.Layout(
    title= title
)


fig['layout'] = layout

fig['layout']['plot_bgcolor'] = 'white'
fig['layout']['hovermode'] = 'x'
fig['layout']['xaxis']['title'] = 'Date'
fig['layout']['xaxis']['zeroline'] = False
fig['layout']['yaxis']['title'] = 'Price'
fig['layout']['updatemenus'] = updatemenus
fig['layout']['margin']['t'] = 0






#plot the final graph
plotly.offline.plot( fig, filename = 'hotel_pricing.html' )

'hotel_pricing.html'